# Python basics 1

In [1]:
name = input('Enter your name:')
print('Hello, ', name, '!')

Enter your name:Elodie
Hello,  Elodie !

## Data types

In [2]:
print(type(7))
print(type(3.1587))

<class 'int'>
<class 'float'>

In [3]:
type([0, 2, -3, 'a'])

list

In [4]:
type(4 + 3j)

complex

In [5]:
type(('cat', 'dog', 11.5, 'rose'))

tuple

In [6]:
type(3e-2)

float

In [7]:
y = 3e-2
type(y)

float

In [8]:
type(0b110)

int

In [9]:
print(0b110)

6

In [10]:
type(0 in (-3, 3, 0, 4))

bool

In [11]:
type({'Name': 'Joe', 'Gender': 'M', 'Age': 24})

dict

In [12]:
x = 10
print(int(str(x))-2)

8

In [13]:
x = 3
print(type(str(x)))

<class 'str'>

In [14]:
print(7 > 3)
print('7 > 3')

True
7 > 3

In [15]:
print(type(7> 3))

<class 'bool'>

## Operators

In [16]:
x = 7
y = 2
print('x + y =', x + y)

x + y = 9

In [17]:
print('x - y =', x - y)

x - y = 5

In [18]:
print('x/y =', x/y)

x/y = 3.5

In [19]:
print('x * y =', x * y)

x * y = 14

In [20]:
print('The modulus of x/y =', x//y)
print(x % y)
#Modulus = remainder of the division of left operand by the right	x % y (remainder of x/y)
#x // y = Floor division - division that results into whole number adjusted to the left in the number line

The modulus of x/y = 3
1

In [21]:
x = 7
y = 2
print('The remainder of x/y is', x%y)

The remainder of x/y is 1

In [22]:
print('x/y rounded down to the nearest integer is', x % y)

x/y rounded down to the nearest integer is 1

In [23]:
print('x raised to the power y is', x ** y)

x raised to the power y is 49

In [24]:
print('ha'*3+'!')

hahaha!

In [25]:
6==6

True

In [26]:
6==7

False

In [27]:
6!=7
#==: Equals, !=: Not Equal

True

In [28]:
6>7

False

In [29]:
6<=7

True

In [30]:
x = True
y = False
type(x)

bool

In [31]:
x and y
#'and' only returns True if both are True, returns False otherwise

False

In [32]:
x or y
#x or y	Returns y if x is False, x otherwise

True

In [33]:
not x
#not x	Returns True if x is True, False otherwise

False

In [34]:
(not x) and y
#False and False is False

False

In [35]:
6 and 10
#??

10

In [36]:
6 & 10
# & = bitwise and
#bitwise operators are used to perform bitwise calculations on integers
#integers are first converted into binary and then operations are performed on bit by bit
#the result is returned in decimal format

2

In [37]:
x = 3
y = 3
x = x + 3
print(x)

6

In [38]:
y+=3
print(y)
#a += b is shorthand for a = a + b , where a and b can be numbers, strings, tuples or lists (must be the same type)

6

In [39]:
s = 'Python is great fun!'
I = [23, 'apple', 0.6]
'y' in s

True

In [40]:
'G' not in s

True

In [41]:
2 in I

False

In [42]:
23 in I

True

In [43]:
0.6 not in I

False

## Conditionals

In [44]:
x = 3
if x>0:
    print(x, 'is a positive number')

3 is a positive number

In [45]:
x = 3
l = [0, 4, -6, 3]
if x in l:
    print(x, 'is a member of the list', l)

3 is a member of the list [0, 4, -6, 3]

In [46]:
x = 3
if True:
    x+= 1
print(x)

4

In [47]:
x = 3
if 0:
    x-=1
print(x)
#bool is a subclass of int, and False has the value 0

3

In [48]:
x = 3
if 4:
    x-=1
print(x)

2

In [49]:
x = 1000
if -12:
    x-=200
print(x)
#looks like any value apart from 0 if considered as a bool True, so the calculation is performed

800

In [50]:
x = 3
y = 7
if y//x==0:
    print(x, 'is a divisor of', y)
else:
    print(x, 'is not a divisor of', y)
#because 7//3 = 2 not = 0

3 is not a divisor of 7

In [51]:
#check:
x = 3
y = 7
y//x
#so 2 is the smallest entire divisor of 7 by 3 (7/3 = 2.33, rounded to 2)

2

In [52]:
x = 11
y = 10
if y//x==0:
    print(x, 'is a divisor of', y)
else:
    print(x, 'is not a divisor of', y)
# == is an equality check: “Is 1 equal to 1?” - True or False
#because 10//11 = 0, as 10<11

11 is a divisor of 10

In [53]:
x=110
y=100
if y//x==0:
    print(x,'is a divisor of', y)
else:
    print(x,'is not a divisor of', y)
#because 110>100, 100//110 = 0

110 is a divisor of 100

In [54]:
3==4

False

In [55]:
#last test:
x = 100
y = 110
if y//x==0:
    print(x,'is a divisor of', y)
else:
    print(x,'is not a divisor of', y)

100 is not a divisor of 110

In [56]:
#check:
110//100
#result = 1 not 0 , because y > x

1

## Loops

In [57]:
x = int(input('Enter a number:'))
for i in range(x):
    fact=1
    fact*=i
    print(fact)
#the factorial of a positive integer n, denoted n!, is the product of all positive integers less than or equal to n
#e.g. 5! = 5*4*3*2*1 = 120

#int() converts specified value into integer number

Enter a number:5
0
1
2
3
4

In [58]:
x=int(input("Enter a number:"))
for i in range(x+1):
    fact = 1
    fact *= i
print(fact)
#range for stops 1 before x (hence specifying x+1)
#IMPORTANT: need to indent print(fact) as part of the loop to obtain correct value

Enter a number:4
4

In [59]:
x=int(input("Enter a number:"))
fact=1
for i in range(x+1):
    fact*=i
print(fact)

Enter a number:7
0

In [60]:
multi=3
multi*=3
print(multi)
#a *= b is equivalent to a = a * b

9

In [61]:
x=int(input("Enter a number:"))
fact=1
for i in range(1,x+1):
    fact*=i
print(fact)
#this is factorial manual formula
#comfortable using range() function will make your life so much easier!

Enter a number:22
1124000727777607680000

In [62]:
s = 'Elodie'
for i in s:
    print(i)

E
l
o
d
i
e

In [63]:
n = int(input('Enter a positive number:'))
sum = 0
for i in range(1, n+1):
    if i%2==0:
        sum+=i
print(sum)
#result 12 = 2 + 4 + 6

Enter a positive number:4
6

In [64]:
name='Elodie'
for i in name:
    print(i)
else:
    print('Name fully spelt out')

E
l
o
d
i
e
Name fully spelt out

In [65]:
l=1
u=100
for num in range(l, u+1):
    if num > 1:
        for i in range(2,num):
            if (num % i) == 0:
                break
        else:
            print(num)
#break terminates (exit) loop
#this is list of prime numbers (i.e. a positive natural number that has only two positive natural number divisors - 1 and itself)

#Use while loop used when don't know how many times the loop needs to be excuted
#Use for loop when already know how many times the loop needs to be excuted

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

## Lists

In [66]:
list1 = [2, 1, 6.3, 5]
print(list1)

[2, 1, 6.3, 5]

In [67]:
list2 = [[4, 5, 6], 'Python', 'Java']
print(list2)

[[4, 5, 6], 'Python', 'Java']

In [68]:
list1 = [2, 1, 6.3, 5]
list1[0]
#guess: returns chracter in position 0 in list1 (i.e. 2)
#correct

2

In [69]:
list1[2:]

[6.3, 5]

In [70]:
#check:
x = list1[2:] #characters from position 2 (included) to the end
print(x)

[6.3, 5]

In [71]:
print(list2[0])
#character in position 0 in list2

[4, 5, 6]

In [72]:
print(list2[2][0])

J

In [73]:
#check:
y = list2[2][0]
print(y)
#output character in position 2 in list2 (i.e. 'Java') + only return characted in position 0 in this term (i.e. J)

J

In [74]:
list1 = [2, 1, 6.3, 5]
list1[-2]
#correct guess: return second-to-last character in list1
#IMPORTANT: backward list starts at -1

6.3

In [75]:
list2 = [[4, 5, 6],'Python', 'Java']
list2[-2][-2]
#correct guess: return 'o' as second-to-last sub-character in second to last character in list2

'o'

In [76]:
list2[0] = 'C+'
print(list2)
#guess replaces character in position 0 in list2 from [4, 5, 6] to 'C+'
#Correct!

['C+', 'Python', 'Java']

In [77]:
name = 'Bruno Mars'
print(list(name))
#guess: converts 'Bruno Mars' from string to list
#correct intuition but did not imagine data being pressented in this format (i.e. separating each letter in the string to form a list)

['B', 'r', 'u', 'n', 'o', ' ', 'M', 'a', 'r', 's']

In [78]:
list1 = [2, 1, 6.3, 5]
list1.insert(1, -1)
print(list1)
#guess: predict that insert() adds (1, -1) as 2 new characters in list1
#precited list1 = [2, 1, 6.3, 5, 1, -1]
#wrong guess: it inserted -1 (second attribute in insert() formula) in position 1 within characters of list1

[2, -1, 1, 6.3, 5]

In [79]:
#test:
list1 = [10, 52, 'lava', 5, 9]
list1.insert(3, -1)
print(list1)
#interpretation: inserted -1 in position 3 of characters within list1

#note: insert() function requires telling where you want to insert value (i.e. which position in existing list)

[10, 52, 'lava', -1, 5, 9]

In [80]:
#test2:
list1 = [10, 52, 'lava', 5, 9]
list1.insert(3, -1, 4)
print(list1)
#lesson: insert() only takes 2 argument (1 position, 1 inserted value) - you can't add more than one at a time

TypeError: insert() takes exactly 2 arguments (3 given)

In [81]:
#test3
list1 = [10, 52, 'lava', 5, 9]
list1.insert(3, [2, 4, 67])
print(list1)
#note: can add mkore than one value but only as a list within a list, not multiple values within original list

[10, 52, 'lava', [2, 4, 67], 5, 9]

In [82]:
list1 = [2, 1, 6.3, 5]
list1.extend([1, -1, 3])
print(list1)
#predict: extend list1 with [1, -1, 3] sequence, add them at the end of originsl list1
#correct guess

[2, 1, 6.3, 5, 1, -1, 3]

In [83]:
list1 = [2, 1, 6.3, 5]
del list1[0]
print(list1)
#guess: delete character in position 0 in list1 (i.e. '2')
#correct guess

[1, 6.3, 5]

In [84]:
list1 = [2, 1, 6.3, 5]
del list1[:]
print('list1 is now', list1)
#guess: remove all items from list. Equivalent of list.clear()
#great guess! thanks internet :)

list1 is now []

In [85]:
list1 = [2, 1, 6.3, 5]
del list1
print(list1)
#guess: same as above, just delete entire list. Does it still exist as an object?
#indeed, so this deletes list1 as an object, python does not recognise it anymore as it's not defined

NameError: name 'list1' is not defined

In [86]:
list = [2*x for x in range(5)]
print(list)
#guess: [2*1, 2*2, 2*3, 2*4, 2*5] or [2, 4, 6, 8, 10]
#wrong guess but close: [2*0, 2*1, 2*2, 2*3, 2*4] - stop before reach 5

[0, 2, 4, 6, 8]

In [87]:
list = [x**3 for x in range(10)]
print(list)
#almost correct, but should be n+1 (i.e. 10) to obtain range 0-9
#lesson: pyhton uses ** for exponentiation, not ^

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [88]:
#odd power is a number of the form m**n, for m>0 an integer and n a positive odd integer
#the first few odd powers are: 1, 8 (i.e. 2**3), 27 (i.e. 3**3), 32, 64 (i.e. 4**3), 125 (i.e. 5**3)
list = [3**i for i in range(10) if i%2==1]
print(list)
#looked at answer for this one

#note: don't need to explicitly exclude 0 in range. Had got 10 (for 9) on my own
#for odd: i%2==1 means that there's always a remainder when dividing i by 2 - i.e. not even

#pen and paper guesses first! Brreak it down - i.e. which numbers will be output?

[3, 27, 243, 2187, 19683]